.img1 {
    height: 30vh;
    width: 150vw;
    background-image: url(img/img1.jpg);
    background-size: cover;
    margin-right: 5%;
    margin-left: 5%;
}

.img2 {
    height: 30vh;
    width: 150vw;
    background-image: url(img/img2.jpg);
    background-size: cover;
    margin-right: 5%;
    margin-left: 5%;
}

.img3 {
    height: 30vh;
    width: 150vw;
    background-image: url(img/img3.jpg);
    background-size: cover;
    margin-right: 5%;
    margin-left: 5%;
}