.img1 {
    height: 35vh;
    width: 50vw;
    background-image: url(img/img1.jpg);
    background-size: cover;
}

.img2 {
    height: 35vh;
    width: 50vw;
    background-image: url(img/img2.jpg);
    background-size: cover;
}

.img3 {
    height: 35vh;
    width: 50vw;
    background-image: url(img/img3.jpg);
    background-size: cover;
}